.footer-center {
    font-size: 16px;
    text-align: center;
    padding: 30px 0px;
}

.footer-center a {
    color: #fc0;
    text-decoration: none;
    padding: 10x;
}

.footer-center a:hover {
    color: #000;
    font-weight: Bold;
}