logo {
    float:left;
    width: 30%;
    text-align: left
}

logo img {
    width: 100%;
    max-width: 150px;
}

nav {
    float: right;
    width: 65%;
    text-align: right;
}

nav a {
    color: #fc0;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: #000;
    font-weight: Bold;
}